@model OdsCode.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Sign In";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<!--Section: Contact v.1-->
<section class="section m-b-4">

    <!--Section heading-->
    <div class="m-y-1 p-y-1">
        <h1 class="section-heading">*Automatic Typing JS Here*</h1>
    </div>
    <!--Section sescription-->
    <!-- <p class="section-description m-b-5">Login using the form below</p> -->

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" novalidate>
                <!--Form with header-->
                <div class="card center-block" style="max-width: 500px; margin-left: auto; margin-right: auto;">
                    <div class="card-block">

                        <!--Header-->
                        <div class="form-header stylish-color-dark">
                            <h3><i class="fa fa-lock"></i> Login:</h3>
                        </div>

                        <div class="text-xs-center m-t-3" asp-validation-summary="ModelOnly">
                        </div>

                        <!--Body-->
                        <div class="md-form">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" asp-for="Username" class="form-control">
                            <label asp-for="Username"></label>
                            <span class="text-muted" asp-validation-for="Username"></span>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" asp-for="Password" class="form-control">
                            <label asp-for="Password">Your password</label>
                            <span class="text-muted" asp-validation-for="Password"></span>
                        </div>

                        <div class="text-xs-center m-t-3">
                            <button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-sign-in"></i> Login</button>
                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer">
                        <div class="options">
                            <p>Not a member? <a href="#">Sign Up</a></p>
                            <p>Forgot <a href="#">Password?</a></p>
                        </div>
                    </div>

                </div>
                <!--/Form with header-->
            </form>
        </div>
    </div>
</section>