/* ODSCODE CSS */

@media (max-width: 543px) {
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

.map-sticky-position {
    min-width: 200px;
    width: 100%;
    min-height: 200px;
    height: 800px;
}

.yt-sticky-position {
    min-width: 200px;
    width: 100%;
    min-height: 200px;
    height: 800px;
}

#map {
    min-width: 200px;
    width: 100%;
    min-height: 200px;
    height: 725px;
}

.mapscrolling {
    width: 73.85%;
}

#StickyStopFooter {
    height: 3px;
}

.background-color-fa-fa-black {
    background-color: #373a3c;
}

.btn-flat-small {
    padding: 2px 10px;
    margin: 0px;
}

.YTHover:hover {
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.drag-enter {
    background-color: #65aed6;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.drag-over {
    background-color: #fff;
    box-shadow: 20px 8px 20px 8px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    opacity: 0.25;
}

YTInverseBackground:hover {
    background-color: #ffffff !important;
    background: #ffffff !important;
}

.timetag {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 200;
}

.YTShawdowNone {
    box-shadow: 0 0 0 0 !important;
}

.YTButtonTR {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
}

.YTButtonBR {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 50;
}

.YTColor {
    color: #373a3c;
}

.YTColor-Active {
    color: #aa66cc;
}

.YTColor-Active:hover {
    color: #373a3c;
}

.YTColor:hover {
    color: #aa66cc;
}

.YTZIndex {
    z-index: 101 !important;
}

.YTZIndexNone {
    z-index: 0;
}

.text-white-hover:hover {
    color: #ffffff !important;
}

.ods-danger {
  background: #d9534f;
}

.ods-danger:hover, .btn-danger:focus {
  background-color: #e8534f !important;
}

.ods-danger.active {
  background-color: maroon !important;
}

.ods-success {
  background: #5cb85c;
}

.ods-success:hover, .btn-success:focus {
  background-color: #5cc75c;
}

.ods-success.active {
  background-color: #006228 !important;
}

.div-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

