/* ODSCODE CSS */

@media (max-width: 543px) {
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

.map-sticky-position {
    min-width: 200px;
    width: 100%;
    min-height: 200px;
    height: 800px;
}

#map {
    min-width: 200px;
    width: 100%;
    min-height: 200px;
    height: 725px;
}

.mapscrolling {
    width: 73.85%;
}

#StickyStopFooter {
    height: 3px;
}

.YTHover:hover {
    background-color: #ececec;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.YTShawdowNone {
    box-shadow: 0 0 0 0 !important;
}

.YTButton {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 2;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}