<!--Panel-->
<div class="card">
    <div class="card-block ">
        <div class="pull-right">
            <div class="d-inline">
                <a class="m-r-1">
                    <i class="fa fa-random" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Shuffle"></i>
                </a>

                <a class="m-r-1">
                    <i class="fa fa-repeat" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Repeat playlist"></i>
                </a>
            </div>
            <!-- Switch -->
            <div class="switch d-inline">
                Autoplay <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="When autoplay is enabled, the next video will automatically play next."></i> |
                <label>
                    Off
                    <input type="checkbox">
                    <span class="lever"></span>
                    On
                </label>
            </div>
        </div>
        <h4 class="h4-responsive">
            <i class="fa fa-arrow-right" aria-hidden="true"></i> Up next
        </h4>
    </div>
    <ul class="z-depth-1">
        <li class="YTHover">
            <div class="view overlay hm-white-slight YTShawdowNone">
                <div class="mask waves-effect waves-effect"></div>
                <div class="card-block">

                    <div class="content-wrapper">
                        <a href="/watch?v=R2fCbRTsnxY" title="YTP-Bee Movie: Barry Beetrays the Nazi Party">
                            <h4 class="h4-responsive">
                                YTP-Bee Movie: Barry Beetrays the Nazi Party
                            </h4>
                        </a>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 col-md-5 col-lg-4">
                            <div style="position: relative; display: inline-block;">
                                <a href="/watch?v=R2fCbRTsnxY">
                                    <img class="img-fluid" src="https://i.ytimg.com/vi/R2fCbRTsnxY/hqdefault.jpg?custom=true&amp;w=168&amp;h=94&amp;stc=true&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=Gq40B9GJWILJuQlmKohtqRqfKZ4">
                                    <span class="tag elegant-color" style="position: absolute; bottom: 0; right: 0">
                                        4:51
                                    </span>
                                </a>
                            </div>

                            <div class="m-t-1">
                                <ul class="inline-ul">
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-7 col-lg-8">
                            <div class="h5-responsive">
                                <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xl-7 col-lg-6 h5-responsive">
                                    <i class="fa fa-youtube-square" aria-hidden="true"></i> Channel: <span class="text-muted">EliteChannels</span>
                                </div>
                                <br class="hidden-lg-up" />
                                <div class="col-xl-5 col-lg-6 h5-responsive">
                                    <i class="fa fa-eye" aria-hidden="true"></i> Views: <span class="text-muted">1,223,446</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </li>

    </ul>


</div>

<div class="card">
    <div class="card-block">
        <h4 class="h4-responsive">
            <i class="fa fa-search" aria-hidden="true"></i> Search
        </h4>

                <!--Right-->
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search youtube for...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg" type="button">Search</button>
                    </span>
                </div>

    </div>
</div>

<div class="card">
    <div class="card-block ">
        <h4 class="h4-responsive">
            <i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube Videos
        </h4>
    </div>
    <ul class="z-depth-1">
        <!-- YouTube Video -->
        <li class="YTHover">
            <div class="view overlay hm-white-slight YTShawdowNone">
                <div class="YTButton" aria-label="Basic example">
                    <button type="button" class="btn-flat waves-effect"><i class="fa fa-minus" aria-hidden="true"></i></button>
                    <button type="button" class="btn-flat waves-effect"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
                <div class="mask waves-effect waves-effect"></div>
                <div class="card-block">

                    <div class="content-wrapper">
                        <a href="/watch?v=R2fCbRTsnxY" title="YTP-Bee Movie: Barry Beetrays the Nazi Party">
                            <h4 class="h4-responsive">
                                YTP-Bee Movie: Barry Beetrays the Nazi Party
                            </h4>
                        </a>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 col-md-5 col-lg-4">
                            <div style="position: relative; display: inline-block;">
                                <a href="/watch?v=R2fCbRTsnxY">
                                    <img class="img-fluid" src="https://i.ytimg.com/vi/R2fCbRTsnxY/hqdefault.jpg?custom=true&amp;w=168&amp;h=94&amp;stc=true&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=Gq40B9GJWILJuQlmKohtqRqfKZ4">
                                    <span class="tag elegant-color" style="position: absolute; bottom: 0; right: 0">
                                        4:51
                                    </span>
                                </a>
                            </div>

                            <div class="m-t-1">
                                <ul class="inline-ul">
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-7 col-lg-8">
                            <div class="h5-responsive">
                                <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xl-7 col-lg-6 h5-responsive">
                                    <i class="fa fa-youtube-square" aria-hidden="true"></i> Channel: <span class="text-muted">EliteChannels</span>
                                </div>
                                <br class="hidden-lg-up" />
                                <div class="col-xl-5 col-lg-6 h5-responsive">
                                    <i class="fa fa-eye" aria-hidden="true"></i> Views: <span class="text-muted">1,223,446</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!--/. YouTube Video -->
        <!-- YouTube Video -->
        <li class="YTHover">
            <div class="view overlay hm-white-slight YTShawdowNone">
                <div class="mask waves-effect waves-effect"></div>
                <div class="card-block">

                    <div class="content-wrapper">
                        <a href="/watch?v=R2fCbRTsnxY" title="YTP-Bee Movie: Barry Beetrays the Nazi Party">
                            <h4 class="h4-responsive">
                                YTP-Bee Movie: Barry Beetrays the Nazi Party
                            </h4>
                        </a>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 col-md-5 col-lg-4">
                            <div style="position: relative; display: inline-block;">
                                <a href="/watch?v=R2fCbRTsnxY">
                                    <img class="img-fluid" src="https://i.ytimg.com/vi/R2fCbRTsnxY/hqdefault.jpg?custom=true&amp;w=168&amp;h=94&amp;stc=true&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=Gq40B9GJWILJuQlmKohtqRqfKZ4">
                                    <span class="tag elegant-color" style="position: absolute; bottom: 0; right: 0">
                                        4:51
                                    </span>
                                </a>
                            </div>

                            <div class="m-t-1">
                                <ul class="inline-ul">
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star amber-text"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-7 col-lg-8">
                            <div class="h5-responsive">
                                <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xl-7 col-lg-6 h5-responsive">
                                    <i class="fa fa-youtube-square" aria-hidden="true"></i> Channel: <span class="text-muted">EliteChannels</span>
                                </div>
                                <br class="hidden-lg-up" />
                                <div class="col-xl-5 col-lg-6 h5-responsive">
                                    <i class="fa fa-eye" aria-hidden="true"></i> Views: <span class="text-muted">1,223,446</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </li>
        <!--/. YouTube Video -->

        <div id="watch-more-related" class="hiddendiv">
            <li id="watch-more-related-loading">
                Loading more suggestions...
            </li>
        </div>
        <div style="border-top: 1px solid rgba(0, 0, 0, 0.125); margin-top: 10px;"></div>
        <button type="button" class="btn grey lighten-5 btn-lg btn-block waves-effect"><span class="text-muted">Show more</span></button>
    </ul>
</div>
