@{
    ViewBag.Title = "Logout Page";
    ViewBag.SignOutAsync = "true";
}


@section styles{
    <link href="~/css/OdsRPG/css/OdsRPG.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/js/OdsRPG/js/react-15.1.0.min.js"></script>
    <script src="~/js/OdsRPG/js/react-dom-15.1.0.min.js"></script>
    <script src="~/lib/howler.js/dist/howler.js"></script>
    <script src="~/js/OdsRPG/js/OdsRPG.js"></script>
}

<div class="alert alert-success m-y-1" role="alert">
    <strong>Logout Successful!</strong>
</div>

<div class="jumbotron" id="app-root">
    <img class="pen-preview-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/b4-pen-preview.png">
</div>
