@{
    ViewBag.Title = "Youtube Playlist";
}

@section Scripts {
    <script src="~/js/app/controls/simpleControls.js"></script>
    <script src="~/js/app/app-youtube.js"></script>
    <script src="~/js/app/directives/youtubeDirective.js"></script>
    <script src="~/js/app/controllers/playListsController.js"></script>
    <script src="~/js/app/controllers/playListEditorController.js"></script>
    <script src="~/js/app/factories/youTubeLoaderFactory.js"></script>
    <script src="~/js/app/controllers/youTubeIframeController.js"></script>
    <script src="~/js/app/provider/autocompleteProvider.js"></script>
    <script src="~/js/app/factories/YouTubeSearchFactory.js"></script>
    <script src="~/js/app/factories/getObjectListFactory.js"></script>
    <script src="~/lib/ngDraggable/ngDraggable.js"></script>
}

<!--Section: Contact v.1-->
<section class="section m-b-4" data-ng-app="app-youtube">

    <!--Section heading-->
    <h1 class="section-heading">@ViewBag.Title</h1>
    <!--Section sescription-->
    <!-- <p class="section-description m-b-5">Manage your trip below.</p> -->

    <div class="row">
        
        <!--First column-->
        <div class="col-md-7 YTZIndexNone" data-ng-controller="youTubeIframeController">
            <div class="sticky yt-sticky-position">
                <div class="row">
                    <div data-ng-class="ytColSize">
                        <div class="embed-responsive embed-responsive-16by9">
                            <!-- You tube Directive. -->
                            <youtube class="embed-responsive-item" width="{{yt.width}}" height="{{yt.height}}" videoid="{{yt.videoid}}"></youtube>
                        </div>

                        <br>
                        <!--Buttons-->
                        <div class="row text-xs-center">
                            <div class="col-sm-4 col-md-4">
                                <a class="btn btn-block btn-small waves-effect" data-toggle="tooltip" data-placement="bottom" title="Back" data-ng-click="sendControlEvent(YT_event.PLAY)"><i class="text-primary fa fa-step-backward"></i></a>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <a class="btn btn-block btn-small waves-effect" data-toggle="tooltip" data-placement="bottom" title="Play / Pause" data-ng-click="sendControlEvent(playToggle())"><i class="text-primary fa" data-ng-class="{ 'fa-play': iconStatus, 'fa-pause': !iconStatus }"></i></a>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <a class="btn btn-block btn-small waves-effect" data-toggle="tooltip" data-placement="bottom" title="Next" data-ng-click="sendControlEvent(YT_event.STOP)"><i class="text-primary fa fa-step-forward"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-5" data-ng-view>
        </div>
        <!--/Second column-->

    </div>

</section>
<!--/Section: Contact v.1-->