@{
    ViewBag.Title = "YouTube Playlist";
}

@section Scripts {
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="~/js/app/app-youtube.js"></script>
    <script src="~/js/app/controllers/playListsController.js"></script>
    <script src="~/js/app/controllers/youTubeController.js"></script>
    <script src="~/js/app/directives/youtubeDirective.js"></script>
    <script src="~/js/app/services/youTubeApiService.js"></script>
}

<!--Section: Contact v.1-->
<section class="section m-b-4" data-ng-app="app-youtube">

    <!--Section heading-->
    <h1 class="section-heading">@ViewBag.Title</h1>
    <!--Section sescription-->
    <!-- <p class="section-description m-b-5">Manage your trip below.</p> -->

    <div class="row">

        <!--Second column-->
        <div class="col-md-7" data-ng-controller="youTubeController as vm">

            <div class="sticky">
                <div class="sticky-map-width">

                    <!--Youtube-->
                    <youtube class="embed-responsive embed-responsive-16by9" width="{{ vm.width }}" height="{{ vm.height }}" videoid="{{ vm.videoid }}"></youtube>

                    <br>
                    <!--Buttons-->
                    <div class="row text-xs-center">
                        <div class="col-md-4">
                            <a class="btn-floating btn-small stylish-color-dark" data-toggle="tooltip" data-placement="bottom" title="Back" data-ng-click="vm.sendControlEvent(YT_event.PLAY)">
                                <i class="fa fa-step-backward"></i>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a class="btn-floating btn-small stylish-color-dark" id="playing" data-toggle="tooltip" data-placement="bottom" data-title="Play / Pause" data-ng-click="togglePlay()">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a class="btn-floating btn-small stylish-color-dark" data-toggle="tooltip" data-placement="bottom" title="Next" data-ng-click="sendControlEvent(YT_event.PAUSE)">
                                <i class="fa fa-step-forward"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Second column-->

        <!--First column-->
        <div class="col-md-5">
            <div class="description">
                <h2 class="h2-responsive wow fadeInLeft" data-wow-delay="0.2s">Ready to make your own? </h2>
                <hr class="hr-dark wow fadeInLeft">
                <p class="wow fadeInLeft" data-wow-delay="0.4s">Create your play-list with Hip hop, Pop or Country.</p>
                <br>
                <a class="btn btn-primary btn-lg wow fadeInLeft" data-wow-delay="0.7s" asp-controller="YouTube" asp-action="All">Create my play-list!</a>
            </div>
        </div>
        <!--/First column-->

    </div>

</section>
<!--/Section: Contact v.1-->