@{
    ViewBag.Title = "YouTube Playlist";
}

@section Scripts {
    <script src="~/js/app/app-youtube.js"></script>
    <script src="~/js/app/controllers/youTubeIframeController.js"></script>
    <script src="~/js/app/directives/youtubeDirective.js"></script>
    <script src="~/js/app/factories/youTubeLoaderFactory.js"></script>
    <script src="~/js/app/provider/autocompleteProvider.js"></script>
    <script src="~/js/app/factories/getObjectListFactory.js"></script>
}

<!--Section: Contact v.1-->
<section class="section m-b-4" data-ng-app="app-youtube">

    <!--Section heading-->
    <h1 class="section-heading">@ViewBag.Title</h1>
    <!--Section sescription-->
    <!-- <p class="section-description m-b-5">Manage your trip below.</p> -->

    <div class="row">

        <!--Second column-->
        <div class="col-md-7" data-ng-controller="youTubeIframeController">

            <div class="embed-responsive embed-responsive-16by9">
                <!-- You tube Directive. -->
                <youtube class="embed-responsive-item" width="{{yt.width}}" height="{{yt.height}}" videoid="{{yt.videoid}}"></youtube>
            </div>

            <br>
            <!--Buttons-->
            <!--/.Buttons -->
        </div>
        <!--/Second column-->

        <!--First column-->
        <div class="col-md-5">
            <div class="description">
                <h2 class="h2-responsive wow fadeInLeft" data-wow-delay="0.2s">Ready to make your own? </h2>
                <hr class="hr-dark wow fadeInLeft">
                <p class="wow fadeInLeft" data-wow-delay="0.4s">Create your play-list with Hip hop, Pop or Country.</p>
                <br>
                <a class="btn btn-primary btn-lg wow fadeInLeft" data-wow-delay="0.7s" asp-controller="YouTube" asp-action="All">Create my play-list!</a>
            </div>
        </div>
        <!--/First column-->

    </div>

</section>
<!--/Section: Contact v.1-->