<!-- Card -->
<div class="card">
    <!--Card content-->
    <div class="card-block">
        <!--Header-->
        <h2 class="h2-responsive">
            <span>Managing </span>
            <span class="text-info font-weight-normal"> {{ getName || "Unavailable" }}</span>
        </h2>
        <h5 class="h5-responsive">
            <span>Created on </span>
            <span class="text-muted"> {{ (dateCreated | date) || "Unavailable" }}</span>
        </h5>

        <br>

        <form novalidate name="newStopForm" data-ng-submit="addStop()">
            
            <div class="md-form">
                <i class="fa fa-map-marker prefix"></i>
                <input data-ng-disabled="!getName"
                       type="text" placeholder="Enter a stop location"
                       name="name" id="name" data-ng-model="newStop.name"
                       required data-ng-minlength="3" class="form-control">
                <label for="name" class="active">Stop Name</label>
            </div>

            <div class="md-form">
                <i class="fa fa-calendar prefix"></i>
                <input data-ng-disabled="!getName"
                       name="stopDate" id="stopDate" type="text"
                       data-ng-model="newStop.stopDate" value="08/07/1993"
                       required class="form-control datepickerOds"
                       ng-pattern="/^(0?[1-9]|1[012])\/(0?[1-9]|[12][0-9]|3[01])\/((19\d{2})|([2-9]\d{3}))$/">
                <label for="stopDate">Stop Date</label>
            </div>

            <div class="text-xs-center">
                <a class="btn btn-default" href="#/"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
                <!--<a data-ng-disabled="!getName" class="btn btn-info" data-ng-class="{'disabled': !getName}" data-ng-href="#/editor/{{ getName }}/stops">Manage Stops</a>-->
                <button data-ng-disabled="newStopForm.$invalid" class="btn btn-success" type="submit" data-ng-class="{'disabled': !getName}">Add Stop</button>
            </div>
        </form>
    </div>
    <!--/.Card content-->
    <!-- Card footer -->
    <div data-ng-show="newStopForm.name.$error.required" class="card-data info-color">
        <ul>
            <li><span> Stop name is required to create a new stop</span></li>
        </ul>
    </div>
    <div data-ng-show="newStopForm.name.$error.minlength" class="card-data info-color">
        <ul>
            <li><span> Stop name must be at least three characters</span></li>
        </ul>
    </div>
    <div data-ng-show="newStopForm.stopDate.$error.required && !newStopForm.name.$error.required && !newStopForm.name.$error.minlength" class="card-data info-color">
        <ul>
            <li><span> Stop stop date is required to create a new stop</span></li>
        </ul>
    </div>
    <div data-ng-show="newStopForm.stopDate.$error.pattern && !newStopForm.name.$error.required && !newStopForm.name.$error.minlength" class="card-data info-color">
        <ul>
            <li><span> Stop stop date must be in a MM/DD/YYYY format</span></li>
        </ul>
    </div>
    <!-- Card footer -->
</div>
<!--/. Card -->

<br>

<h4 class="feature-title">
    This trip contains
    <span data-ng-class="{'tag blue': stops.length < 11, 'tag red': stops.length > 10, 'tag grey': stops.length === 10}">{{stops.length}} / 10</span>
    stop(s)
</h4>

<br>

<!--Card Danger-->
<div class="card card-danger text-xs-center z-depth-2" data-ng-show="errorMessage">
    <div class="card-block">
        <p class="white-text"><strong>Oh snap!</strong><br>{{ errorMessage }}</p>
    </div>
</div>
<!--/.Card Danger-->


<wait-cursor data-display-when="isBusy"></wait-cursor>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Stop Name</th>
            <th>Stop Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-show="stops" data-ng-repeat="stop in stops">
            <td>{{ stop.name }}</td>
            <td>{{ stop.stopDate | date }}</td>
            <td>
                
                <!-- Split button -->
                <div class="btn-group">
                    <a class="btn btn-sm btn-primary" data-ng-href="#/editor/{{ getId }}/stops/{{ stop.id }}" title="Edit {{ stop.name }}"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-sm btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-chevron-down" title="Click to Expand"></i>
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" data-ng-href="#/editor/{{ getId }}/stops/{{ stop.id }}" title="Edit {{ stop.name }}">Edit <i class="fa fa-edit pull-right text-primary"></i></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" data-ng-click="modal(getId, stop.id, stop.name)" title="Delete {{ stop.name }}?">Delete <i class="fa fa-trash pull-right text-danger"></i></a>
                    </div>
                </div>
                <!--/. Split button -->

            </td>
        </tr>
        <tr data-ng-hide="stops.length">
            <td>Empty</td>
            <td>Empty</td>
            <td><a href="#" class="btn btn-sm btn-primary disabled" disabled="disabled">N/A</a></td>
        </tr>
    </tbody>
</table>

<!-- Small modal -->
<div class="modal fade odsModal" tabindex="-1" role="dialog" aria-labelledby="odsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="h4-responsive"><strong>Delete Stop?</strong></h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                Are you sure you want to delete <span class="text-info font-weight-bold">{{ modalData.StopName }}</span>?
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-ng-click="deleteStop(modalData.TripId, modalData.StopId, modalData.StopName)">Delete <i class="fa fa-trash pull-right"></i></button>
            </div>
        </div>
    </div>
</div>
<!--/. Small modal -->