@{
    ViewBag.Title = "Trip Planner";
}

@section Scripts {
    <!-- Gmaps Api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClVHLUqTOBlEQa-v0Zj0keLRxGUmHZcMg&libraries=places" async defer></script>
    <script src="~/js/app/controls/simpleControls.js"></script>
    <script src="~/js/app/app-trips.js"></script>
    <script src="~/js/app/controllers/tripsController.js"></script>
    <script src="~/js/app/controllers/tripEditorController.js"></script>
    <script src="~/js/app/controllers/stopsController.js"></script>
    <script src="~/js/app/controllers/stopEditorController.js"></script>
    <script src="~/js/app/controls/mapDisplayControls.js"></script>
}

<!--Section: Contact v.1-->
<section class="section m-b-4" data-ng-app="app-trips">

    <!--Section heading-->
    <h1 class="section-heading">@ViewBag.Title</h1>
    <!--Section sescription-->
    <!-- <p class="section-description m-b-5">Manage your trip below.</p> -->

    <div class="row">

        <!--First column-->
        <div class="col-md-3" data-ng-view></div>
        <!--/. First column-->

        <!--Second column-->
        <div class="col-md-9" data-ng-controller="mapDisplayControls">

            <div class="sticky map-sticky-position">
                <div class="row">
                    <div data-ng-class="mapColSize">
                        <!--Google map-->
                        <div id="map" class="z-depth-1-half map-container"></div>
                        
                        <br>
                        <div class="row text-xs-center">
                            <div class="col-md-4">
                                <a class="btn btn-block btn-small waves-effect" data-toggle="tooltip" data-placement="bottom" title="Plan Your Trip"><i class="fa fa-map text-primary"></i></a>
                            </div>

                            <div class="col-md-4">
                                <a class="btn btn-block btn-small waves-effect" data-toggle="tooltip" data-placement="bottom" title="Include Special Stops"><i class="fa fa-ticket text-primary"></i></a>
                            </div>

                            <div class="col-md-4">
                                <a class="btn btn-block btn-small waves-effect" data-toggle="tooltip" data-placement="bottom" title="Search For Adventures"><i class="fa fa-search text-primary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--/Second column-->
    </div>

</section>
<!--/Section: Contact v.1-->